#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f8eae0;
  color: #6b584c;
  font-family: system-ui, sans-serif;
}

.card {
  max-width: 420px;
  margin: auto;
  padding: 24px;
  background-color: #fff8f0;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}


.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

label {
  font-size: 0.9rem;
  font-weight: 500;
}

input {
  padding: 0.6rem 0.8rem;
  border-radius: 6px;
  border: 1px solid #d4a373;
  background-color: white;
  font-size: 1rem;
}

input:focus {
  outline: none;
  border-color: #c48e55;
}


.erro {
  color: #e07a5f;
  font-size: 0.75rem;
}


button {
  margin-top: 12px;
  padding: 0.7rem;
  border-radius: 8px;
  border: none;
  background-color: #d4a373;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}


.modal-wrapper {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: #fff8f0;
  padding: 24px;
  border-radius: 12px;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.modal-buttons {
  display: flex;
  gap: 12px;
  margin-top: 16px;
}