#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.card {
  max-width: 420px;
  width: 100%;
  padding: 24px;
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: 1px solid #e0e0e0;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

label {
  font-size: 0.85rem;
  color: #333;
}


.erro {
  color: #111;
  font-size: 0.75rem;
}

.item-list {
  display: flex;
  gap: 8px;
  margin: 10px 0;
}

ul {
  list-style: none;
  padding: 0;
}

.modal-wrapper {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: grid;
  place-items: center;
}

.modal {
  background-color: #fff;
  padding: 24px;
  border-radius: 12px;
  max-width: 400px;
  width: 100%;
  text-align: center;
  border: 1px solid #e0e0e0;
}

.modal-buttons {
  display: flex;
  gap: 12px;
  margin-top: 16px;
}