:root {
  font-family: system-ui, Arial, sans-serif;
  line-height: 1.5;
  color: #6b584c;
  background-color: #fef6f0;
}


body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: #e5cdba;
}


h1 {
  font-size: 2.8rem;
  line-height: 1.1;
}

a {
  color: #d4a373;
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  color: #c48e55;
}


input {
  padding: 0.6rem 0.8rem;
  border-radius: 6px;
  border: 1px solid #d4a373;
  background-color: #fff8f0;
  color: inherit;
}

input:focus {
  outline: none;
  border-color: #c48e55;
}


button {
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  font-family: inherit;
  font-weight: 500;
  background-color: #d4a373;
  color: white;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}